:root {
    --main-bg-color: #f4f4f4;
    --main-content-bg-color: #f3f0f0;
    --main-text-color: #333;
    --white: #fff;
    --light-gray: #ccc;
    --primary-color: #0069B9;
    --primary-hover-color: #045b9e;
    --header-bg-color: #F4F4F4;
    --nav-bg-color: #4a4747;
    --top-bar-bg-color: #F4F4F4;
    --footer-bg-color: #333;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}



header>div:nth-child(2)>div:first-child h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header>div:nth-child(2)>div:first-child h1 img {
    width: 100%;
    height: 10vh;
}

main section > div:first-child {
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--light-gray);
    border-radius: 0.25rem;
    margin-bottom: 0.3125rem;
    font-size: 1rem;
    color: var(--main-text-color);
}

.form-group select {
    background-color: var(--white);
    appearance: none;
    background-image: url('../assets/down.png');
    background-repeat: no-repeat;
    background-position: right 0.625rem center;
    background-size: 1rem;
}

.form-group select:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 0.3125rem rgba(0, 121, 107, 0.5);
}


.form-group input[type="checkbox"] {
    width: auto;
}

