:root {
    --main-bg-color: #f4f4f4;
    --main-content-bg-color: #f3f0f0;
    --main-text-color: #333;
    --white: #fff;
    --black: #000;
    --light-gray: #ccc;
    --primary-color: #0069B9;
    --primary-hover-color: #045B9E;
    --header-bg-color: #31738F;
    --nav-bg-color: #4A4747;
    --top-bar-bg-color: #F4F4F4;
    --footer-bg-color: #333;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

header > div > div > h1{
    color: var(--black);
    font-style: italic;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;


}


#logo h1 {
    font-size: 1.5rem;
    color: var(--main-text-color);
}

#user-icons a {
    margin-left: 1.25rem;
    color: var(--black);
}


h2 {

    text-align: center;
}

form div {
    margin-bottom: 1rem;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--light-gray);
    border-radius: 0.25rem;
    margin-bottom: 0.3125rem;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--footer-bg-color);
    color: var(--white);
    position: fixed;
    width: 100%;
    bottom: 0;
}

